BankingApplication/BankingApplicationSolution/Service References/DataManagementService/DataManagementService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61087/DataManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataManagementService.Entity" />
  <xs:element name="GetDataFromTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataManagementService.Entity" minOccurs="0" name="tableSchema" nillable="true" type="q1:TableSchema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFromTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataManagementService.Entity" minOccurs="0" name="GetDataFromTableResult" nillable="true" type="q2:ResultSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>